<div   ng-app="persona" class="col-md-12" >
  <div class="container" ng-controller="PersonaControllerShow as pCtrl"  ng-init="pCtrl.init('<%= @avatar_url %>',<%= @p.to_json %>,'<%= @show_edit %>')">
    <h1>Showing already generated persona</h1>
    

    <div ng-controller="MainCtrl" class="container" ng-init="chosenPhoto ='<%= @avatar_url %>'">
      <div   ng-controller="dropdownCtrl as drop"  ng-init="drop.init('<%= @p.income %>')"  class="row">
        <div class="col-md-4" ng-show="pCtrl.show_edit_on_persona == 'true'">
          <label >Persona's Picture*</label>
          <img title="It's important to upload a persona photo" data-toggle="tooltip" data-position="top" tooltip ng-src="http://pnsn.org/assets/small_info_icon-ccc447ab652816918f7c7741179983c7.png">
          <br>
          <button ng-click="toggleModal()" class="btn btn-default" >Upload Picture </button>  
          <br>Persona's Name* <br>
          <input type="text" ng-model="pCtrl.persona.name" placeholder="Enter a name"> 
          <br>Persona's Job/Role* <br>
          <input type="text" ng-model="pCtrl.persona.job" placeholder="Enter a Job/Role"> 
          <br>Persona's Bio*<br>
          <textarea ng-model="pCtrl.persona.bio" name="bio" cols='30' rows='7'> </textarea>
          <br>Persona's Goals<br>
          use * + space to make bullets<br>
          <textarea name="pCtrl.persona.goals" ng-model="pCtrl.persona.goalsfield" ng-change="pCtrl.goalChange()"  cols='30' rows='7'> </textarea>
          <br>Core Challenges<br>
          use * + space to make bullets<br>
          <textarea name="challenges" ng-model="pCtrl.persona.challengesfield" ng-change="pCtrl.challengeChange()" cols='30' rows='7'> </textarea>
          <br>How we help<br>
          use * + space to make bullets<br>
          <textarea name="help" cols='30' ng-model="pCtrl.persona.helpfield" ng-change="pCtrl.helpChange()" rows='7'> </textarea>
          <div>
          Technology Use
          </div>
          <div slider config="pCtrl.sliderConfig" model="pCtrl.persona.price" class="cdbl-slider"></div>
          <br>
          Devices
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.smartphone"> smartphone
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.computer"> computer
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.tablet"> tablet
          <br>
          Operating Systems
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.windows7"> Windows 7
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.windows8"> Windows 8+
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.osx"> OS X
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.ios"> iOS
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.android"> Android
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.ubuntu"> Ubuntu
          <br>         
          Social Networks
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.facebook"> Facebook
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.twitter"> Twitter
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.linkedin" > LinkedIn
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.googleplus"> Google Plus
          <br>
          <input type="checkbox" ng-model="pCtrl.persona.pinterest"> Pinterest
          <br>      
          <strong>Gender</strong><br>
          <input type="radio" ng-model="pCtrl.persona.gender" value="Male">  male <br/>
          <input type="radio" ng-model="pCtrl.persona.gender" value="Female"> female <br/>    
          <strong>Age Range</strong><br>
          <input type="radio" ng-model="pCtrl.persona.agerange" value="<10">  &lt 10 <br/>
          <input type="radio" ng-model="pCtrl.persona.agerange" value="10-13"> 10-13 <br/>
          <input type="radio" ng-model="pCtrl.persona.agerange" value="14-17">  14-17 <br/>
          <input type="radio" ng-model="pCtrl.persona.agerange" value="18-25"> 18-25 <br/>
          <input type="radio" ng-model="pCtrl.persona.agerange" value="25-30">  25-30 <br/>
          <input type="radio" ng-model="pCtrl.persona.agerange" value="30-40"> 30-40 <br/>
          <input type="radio" ng-model="pCtrl.persona.agerange" value="40-55">  40-55 <br/>
          <input type="radio" ng-model="pCtrl.persona.agerange" value=">55"> &gt 55 <br/> 
          <div  class='pull-left'>   
            <strong>Household Income</strong>
            <ui-select ng-model="drop.chosenIncome.selected" ng-change="pCtrl.selectIncome(drop.chosenIncome.selected)" search-enabled="false"  theme="bootstrap" style="width: 300px;">
              <ui-select-match placeholder="Select your Household Income.">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="chosenIncome in drop.Incomes">
                <div ng-bind-html="chosenIncome"></div>
              </ui-select-choices>
            </ui-select>
          </div>    
          <strong>Educational Attainment</strong><br>
          <input type="radio" ng-model="pCtrl.persona.education" value="No Degree">  No Degree <br/>
          <input type="radio" ng-model="pCtrl.persona.education" value="High School"> High School <br/>
          <input type="radio" ng-model="pCtrl.persona.education" value="Some College">  Some College <br/>
          <input type="radio" ng-model="pCtrl.persona.education" value="Bachelor's Degree"> Bachelor's Degree <br/>
          <input type="radio" ng-model="pCtrl.persona.education" value="Associate's Degree"> Associate's Degree<br/>
          <input type="radio" ng-model="pCtrl.persona.education" value="Master's Degree">  Master's Degree <br/>
          <input type="radio" ng-model="pCtrl.persona.education" value="Some Grad School"> Some Grad School <br/>
          <input type="radio" ng-model="pCtrl.persona.education" value="Advanced Degree (PhD,EdD)"> Advanced Degree (PhD,EdD) <br/>
          <input type="radio" ng-model="pCtrl.persona.education" value="Professional Degree (JD, MBA)"> Professional Degree (JD, MBA) <br/>
          <strong>Persona availabilty</strong><br>
          <input type="radio" ng-model="pCtrl.persona.level" value="Public">Public<br/>
          <input type="radio" ng-model="pCtrl.persona.level" value="Private">Private<br/>                                                          

        </div>
        <div class="col-md-4" > 
          <img ng-src="{{chosenPhoto}}" alt=""><br><br>
          <div  ng-controller="dropdownCtrl as drop"  ng-show="pCtrl.show_edit_on_persona == 'true'" class='pull-left'>   
            <ui-select ng-disabled="!pCtrl.persona.name || !pCtrl.persona.job || !pCtrl.persona.bio || !pCtrl.persona.goals || !pCtrl.persona.accessLevel" ng-model="drop.publishOption.selected" ng-change="pCtrl.selectPublishOption(drop.publishOption.selected)" search-enabled="false"  theme="bootstrap" style="width: 150px;">
            <ui-select-match placeholder="Publish">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="option in drop.publishOptions">
              <div ng-bind-html="option" ng-click="drop.setPrintOption(option)"></div>
            </ui-select-choices>
            </ui-select>        
            The print option is {{drop.print}}
            <button ng-click="pCtrl.publishUpdate()">Update the persona</button>
          </div> 
          <div >
              <ul class="rrssb-buttons clearfix">
                <li class="rrssb-facebook">
                  <a ng-href="https://www.facebook.com/sharer/sharer.php?u=http://inPersona.com/personas/{{pCtrl.id_after_publish}}" class="popup">
                      <span class="rrssb-icon">
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
                              <path d="M27.825,4.783c0-2.427-2.182-4.608-4.608-4.608H4.783c-2.422,0-4.608,2.182-4.608,4.608v18.434
                                  c0,2.427,2.181,4.608,4.608,4.608H14V17.379h-3.379v-4.608H14v-1.795c0-3.089,2.335-5.885,5.192-5.885h3.718v4.608h-3.726
                                    c-0.408,0-0.884,0.492-0.884,1.236v1.836h4.609v4.608h-4.609v10.446h4.916c2.422,0,4.608-2.188,4.608-4.608V4.783z"/>
                            </svg>
                        </span>
                        <span class="rrssb-text">facebook</span>
                    </a>
                </li>
                <li class="rrssb-twitter">
                    <a ng-href="http://twitter.com/home?status=Check%20out%20this%20persona%20on%20the%20website%20%20http://inPersona.com/personas/{{pCtrl.id_after_publish}}" class="popup">
                        <span class="rrssb-icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">
                            <path d="M24.253,8.756C24.689,17.08,18.297,24.182,9.97,24.62c-3.122,0.162-6.219-0.646-8.861-2.32
                                c2.703,0.179,5.376-0.648,7.508-2.321c-2.072-0.247-3.818-1.661-4.489-3.638c0.801,0.128,1.62,0.076,2.399-0.155
                                C4.045,15.72,2.215,13.6,2.115,11.077c0.688,0.275,1.426,0.407,2.168,0.386c-2.135-1.65-2.729-4.621-1.394-6.965
                                C5.575,7.816,9.54,9.84,13.803,10.071c-0.842-2.739,0.694-5.64,3.434-6.482c2.018-0.623,4.212,0.044,5.546,1.683
                                c1.186-0.213,2.318-0.662,3.329-1.317c-0.385,1.256-1.247,2.312-2.399,2.942c1.048-0.106,2.069-0.394,3.019-0.851
                                C26.275,7.229,25.39,8.196,24.253,8.756z"/>
                            </svg>
                        </span>
                        <span class="rrssb-text">twitter</span>
                    </a>
                </li>
              </ul>
            </div>        
          <div><%= link_to "Save Persona as PDF", persona_path(@p, :format => "pdf") %> </div>        
        </div>
        <div class="col-md-4">            
          <h3><strong>{{pCtrl.persona.name}}</strong></h3> 
          <h4><strong>{{pCtrl.persona.job}}</strong></h4> 
          <div>{{pCtrl.persona.bio}}</div> <br><br>
          <h4 ng-show="pCtrl.persona.goalTitle"><strong>Goals</strong></h4>
          <div>{{ pCtrl.persona.goalTitle }}</div>
          <div ng-repeat="goal in pCtrl.persona.goals">
            •{{ goal}}
          </div> 
          <h4 ng-show="pCtrl.persona.challengeTitle"><strong>Core Challenges</strong></h4>
          <div>{{ pCtrl.persona.challengeTitle }}</div>
          <div ng-repeat="challenge in pCtrl.persona.challenges">
            •{{ challenge}}
          </div>
          <h4 ng-show="pCtrl.persona.helpTitle"><strong>How We Help</strong></h4>
          <div>{{ pCtrl.persona.helpTitle }}</div>
          <div ng-repeat="help in pCtrl.persona.helpItems">
          •{{ help}}
          </div>
          <br>
          <div>Technology use - {{pCtrl.persona.message}}</div>
          <br>Devices<br> 
          <div ng-show="pCtrl.persona.smartphone">Picture of a Smartphone</div>
          <div ng-show="pCtrl.persona.computer">Picture of a Computer</div>
          <div ng-show="pCtrl.persona.tablet">Picture of a Tablet</div>
          <br>  
          Operating Systems<br>
          <div ng-show="pCtrl.persona.windows7">Picture of Windows 7</div>
          <div ng-show="pCtrl.persona.windows8">Picture of Windows 8</div>
          <div ng-show="pCtrl.persona.osx">Picture of OS X</div>
          <div ng-show="pCtrl.persona.ios">Picture of iOS</div>
          <div ng-show="pCtrl.persona.android">Picture of Android</div>
          <div ng-show="pCtrl.persona.ubuntu">Picture of Ubuntu</div>
          <br>
          Social Networks<br>
          <div ng-show="pCtrl.persona.facebook">Picture of Facebook</div>
          <div ng-show="pCtrl.persona.twitter">Picture of Twitter</div>
          <div ng-show="pCtrl.persona.linkedin">Picture of LinkedIn</div>
          <div ng-show="pCtrl.persona.googleplus">Picture of Google Plus</div>
          <div ng-show="pCtrl.persona.pinterest">Picture of Pinterest</div>
          <br>
          <div ng-show="pCtrl.persona.level"><strong>Persona Accessibility:</strong> {{ pCtrl.persona.level}}</div>     
          <br>
          <h3 ng-show="pCtrl.persona.gender || pCtrl.persona.agerange || drop.chosenIncome.selected || pCtrl.persona.education">Demographic Profile</h3>  
          <br>    
          <div ng-show="pCtrl.persona.gender"> <strong>Gender:</strong> {{ pCtrl.persona.gender }}</div>
          <div ng-show="pCtrl.persona.agerange"> <strong>Age Range:</strong> {{ pCtrl.persona.agerange }}</div>
          <div>
            <p ng-show="drop.chosenIncome.selected"><strong>Household Income:</strong> {{drop.chosenIncome.selected}}</p>
          </div>  
          <div ng-show="pCtrl.persona.education"> <strong>Educational Attainment:</strong> {{ pCtrl.persona.education }}</div>     
        </div>      

      </div>    
           
      <modal title="Choose/Upload Photo" visible="showModal">
      <div class="row">
        <div class="col-md-7">
        <a ng-repeat="photo in urls" ng-click="choose">
        <img ng-src="{{photo}}" ng-click="setPhoto(photo); pCtrl.preloadedPhoto(photo)">
        </a>
        </div>
        <div class="col-md-3">
        <input type="file" nv-file-select uploader="pCtrl.uploader"/><br/>
        <button ng-click="pCtrl.uploadAvatar()">Upload Photo</button>
        </div>
      </div>                  
      </modal>
    </div>   
  </div> 
</div>
